.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  grid-template-areas:
    'header header header header'
    '. main main .'
    'footer footer footer footer';
  grid-template-rows: 150px 1fr 100px;
  grid-template-columns: 15% 35% 35% 15%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
