.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 150px;
}

.main {
  height: auto;
}

.footer {
  height: 100px;
}
